ExcelWorkbook1/SampleRibbon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/office/2009/07/customui" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/office/2009/07/customui" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="tab">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="group">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:choice maxOccurs="unbounded">
                                <xs:element name="toggleButton">
                                    <xs:complexType>
                                        <xs:attribute name="id" type="xs:string" use="required" />
                                        <xs:attribute name="getImage" type="xs:string" use="required" />
                                        <xs:attribute name="getLabel" type="xs:string" use="required" />
                                        <xs:attribute name="getKeytip" type="xs:string" use="required" />
                                        <xs:attribute name="getScreentip" type="xs:string" use="required" />
                                        <xs:attribute name="getSupertip" type="xs:string" use="required" />
                                        <xs:attribute name="onAction" type="xs:string" use="required" />
                                        <xs:attribute name="getVisible" type="xs:string" use="required" />
                                        <xs:attribute name="getEnabled" type="xs:string" use="required" />
                                        <xs:attribute name="getPressed" type="xs:string" use="required" />
                                        <xs:attribute name="getSize" type="xs:string" use="required" />
                                        <xs:attribute name="getShowImage" type="xs:string" use="required" />
                                        <xs:attribute name="getShowLabel" type="xs:string" use="required" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element maxOccurs="unbounded" name="box">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="checkBox">
                                                <xs:complexType>
                                                    <xs:attribute name="id" type="xs:string" use="required" />
                                                    <xs:attribute name="getLabel" type="xs:string" use="required" />
                                                    <xs:attribute name="getKeytip" type="xs:string" use="required" />
                                                    <xs:attribute name="getScreentip" type="xs:string" use="required" />
                                                    <xs:attribute name="getSupertip" type="xs:string" use="required" />
                                                    <xs:attribute name="onAction" type="xs:string" use="required" />
                                                    <xs:attribute name="getVisible" type="xs:string" use="required" />
                                                    <xs:attribute name="getEnabled" type="xs:string" use="required" />
                                                    <xs:attribute name="getPressed" type="xs:string" use="required" />
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="button">
                                                <xs:complexType>
                                                    <xs:attribute name="id" type="xs:string" use="required" />
                                                    <xs:attribute name="getImage" type="xs:string" use="required" />
                                                    <xs:attribute name="getLabel" type="xs:string" use="required" />
                                                    <xs:attribute name="getKeytip" type="xs:string" use="required" />
                                                    <xs:attribute name="getScreentip" type="xs:string" use="required" />
                                                    <xs:attribute name="getSupertip" type="xs:string" use="required" />
                                                    <xs:attribute name="onAction" type="xs:string" use="required" />
                                                    <xs:attribute name="getVisible" type="xs:string" use="required" />
                                                    <xs:attribute name="getEnabled" type="xs:string" use="required" />
                                                    <xs:attribute name="getSize" type="xs:string" use="required" />
                                                    <xs:attribute name="getShowImage" type="xs:string" use="required" />
                                                    <xs:attribute name="getShowLabel" type="xs:string" use="required" />
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" maxOccurs="unbounded" name="dropDown">
                                                <xs:complexType>
                                                    <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                            <xs:attribute name="id" type="xs:string" use="required" />
                                                            <xs:attribute name="getLabel" type="xs:string" use="required" />
                                                            <xs:attribute name="getKeytip" type="xs:string" use="required" />
                                                            <xs:attribute name="getScreentip" type="xs:string" use="required" />
                                                            <xs:attribute name="getSupertip" type="xs:string" use="required" />
                                                            <xs:attribute name="getVisible" type="xs:string" use="required" />
                                                            <xs:attribute name="getEnabled" type="xs:string" use="required" />
                                                            <xs:attribute name="getItemCount" type="xs:string" use="required" />
                                                            <xs:attribute name="getItemID" type="xs:string" use="required" />
                                                            <xs:attribute name="getItemLabel" type="xs:string" use="required" />
                                                            <xs:attribute name="getItemScreentip" type="xs:string" use="required" />
                                                            <xs:attribute name="getItemSupertip" type="xs:string" use="required" />
                                                            <xs:attribute name="getItemImage" type="xs:string" use="required" />
                                                            <xs:attribute name="onAction" type="xs:string" use="required" />
                                                            <xs:attribute name="getSelectedItemID" type="xs:string" use="required" />
                                                        </xs:extension>
                                                    </xs:simpleContent>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                        <xs:attribute name="id" type="xs:string" use="required" />
                                        <xs:attribute name="boxStyle" type="xs:string" use="required" />
                                        <xs:attribute name="visible" type="xs:boolean" use="required" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="button">
                                    <xs:complexType>
                                        <xs:attribute name="id" type="xs:string" use="required" />
                                        <xs:attribute name="getImage" type="xs:string" use="required" />
                                        <xs:attribute name="getLabel" type="xs:string" use="required" />
                                        <xs:attribute name="getKeytip" type="xs:string" use="required" />
                                        <xs:attribute name="getScreentip" type="xs:string" use="required" />
                                        <xs:attribute name="getSupertip" type="xs:string" use="required" />
                                        <xs:attribute name="onAction" type="xs:string" use="required" />
                                        <xs:attribute name="getVisible" type="xs:string" use="required" />
                                        <xs:attribute name="getEnabled" type="xs:string" use="required" />
                                        <xs:attribute name="getSize" type="xs:string" use="required" />
                                        <xs:attribute name="getShowImage" type="xs:string" use="required" />
                                        <xs:attribute name="getShowLabel" type="xs:string" use="required" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required" />
                        <xs:attribute name="getLabel" type="xs:string" use="required" />
                        <xs:attribute name="getKeytip" type="xs:string" use="required" />
                        <xs:attribute name="getVisible" type="xs:string" use="required" />
                        <xs:attribute name="getScreentip" type="xs:string" use="optional" />
                        <xs:attribute name="getSupertip" type="xs:string" use="optional" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="getLabel" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>